*{
    margin: 0;
    box-sizing: border-box;
}

.header-container {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #121212;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


  .main-nav {
      display: flex;
      width: 95vw;
      justify-content: space-between;

        .button-container{
            display: flex;
            
            .non-active{
                background-color: #121212;
            }

            .active{
                background-color: #dce9ed;
                color: #121212;
            }

            button{
                background-color: #121212;
                font-size: 1.5rem;
                font-weight: bold;
                color: #dce9ed;
                border: none;
                height: 75%;
                margin: auto;
                cursor: pointer;

                &:hover{
                    background-color: #2c2c2c;
                }
            }
        }

      .logo {
          display: flex;
          cursor: pointer;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          flex-direction: column;
          border: 1px solid #dce9ed7b;
          box-shadow: #dce9ed 0 1px 5px;
          padding: 0.5rem;
          height: 3.5rem;
          margin-top: 0.5rem;

          &:hover{
            box-shadow: #dce9ed 0 1px 10px;
          }

          p {
              margin: auto;
              font-weight: bold;
              color: #dce9ed;
              font-size: 1.5rem;
          }
      }
  }
}
.main-conv-holder{

    .conversation-container{
        background-color: #787878;
        box-shadow: rgba(0.5, 0.5, 0.5, 0.5) 0 4px 12px;
        width: 95vw;
        margin: auto;
        height: calc(100vh - 8.5rem);
        overflow-y: auto;
        border-radius: 5px;

        .messages-holder{

            &:first-child {
                margin-top: 0.3rem;
              }
            
            .message-holder{
                box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0 4px 12px;
                margin: 0.3rem;
                margin-bottom:0.5rem;
                color: #dce9ed;
                font-size: 1.5rem;
                height: fit-content;
                padding: 0.4rem;
                overflow-x: hidden;
                word-wrap:break-word;
                border-radius: 10px;

                .text-container{
                    margin-left: 1.5rem;

                    p{
                        white-space: pre-wrap;
                        margin-bottom: 0.25rem;
                    }
                }
            }
        }

        .question-holder {
            background-color: #383838;
        }
        .answer-holder {
            background-color: rgb(33, 33, 33);
        }
    }
    .input-container{
        width: 95vw;
        height: 2.5rem;
        margin: auto;
        margin-bottom: 1.5rem;
        
        
        .input{
            width: 95vw;
            height: 2.5rem;
            font-size: 1.5rem;
            box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0 4px 12px;
            border-radius:5px;
            border-width: thin;

            &:focus{
                outline: none;
            }
        }
    }
}